@media screen and (min-width: 375px) {
  h1 {
    font-size: 3.3em;
  }

  header p {
    font-size: 2.2em;
    top: 200px;
    left: 130px;
  }

  .cardimg {
    padding-top: 30px;
  }

  h5 {
    font-size: 1.3em;
  }

  .cardscene {
    height: 310px;
  }
}

@media screen and (min-width: 420px) {
  h1 {
    font-size: 3.8em;
  }

  header p {
    font-size: 2.2em;
    top: 230px;
    left: 140px;
  }

  h2 {
    font-size: 3.8em;
  }

  header {
    height: 480px;
  }

  .cardscene {
    height: 330px;
  }

  h5 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 500px) {
  .cardscene {
    height: 390px;
  }

  header p {
    font-size: 2.5em;
    top: 200px;
    left: 230px;
  }
}

@media screen and (min-width: 620px) {
  .graphic .letter {
    display: inline-block;
    line-height: 1em;
  }

  header p {
    font-size: 3.1em;
    top: 200px;
    left: 280px;
  }

  .cardscene {
    height: 460px;
  }

  h5 {
    font-size: 1.8em;
  }
  .copyright {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 520px;
  }

  header p {
    font-size: 3.4em;
    top: 550px;
    left: 230px;
    margin-left: 150px;
    margin-top: -230px;
  }

  h1 {
    font-size: 4.4em;
    margin-top: 60px;
    margin-left: 60px;
  }

  h2 {
    font-size: 3.8em;
    margin-left: 60px;
  }

  h3 {
    font-size: 1.5em;
  }

  .tools {
    margin-top: 30px;
      margin-bottom: 40px;
  }

  .js,
  .html,
  .css {
    height: 35px;
    margin-right: 8px;
  }

  main {
    margin-top: 20px;
    grid-template-columns: 47% 47%;
    grid-template-areas:
      "maintitle maintitle"
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "footer footer"
  }

  h4 {
    font-size: 1.5em;
  }



  .cardscene {
    height: 320px;
  }

  h5 {
    font-size: 1.6em;
  }

  .cardimg {
    padding-top: 35px;
  }


  .linkedin,
  .github,
  .instagram,
  .facebook,
  .twitter {
    height: 35px;
    width: 35px;
    margin: 7px;
  }

  .copyright {
    font-size: .9em;
  }
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: 5.3em;
    margin-top: 80px;
    margin-left: 70px;
  }

  .graphic .letter {
    display: inline-block;
    line-height: .9em;
  }

  header p {
    font-size: 3.8em;
    top: 620px;
    left: 300px;
    margin-left: 150px;
    margin-top: -230px;
  }

  .cardscene {
    height: 360px;
  }

  .copyright {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-image: url('../images/iStock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    height: 650px;
  }

  h1 {
    font-size: 5.9em;
    margin-top: 80px;
    margin-left: 70px;
  }

  .graphic .letter {
    display: inline-block;
    line-height: .9em;
  }

  h2 {
    font-size: 4.6em;
    margin-left: 70px;
  }

  h3 {
    font-size: 1.8em;
  }

  header p {
    font-size: 5em;
    top: 620px;
    left: 300px;
    margin-left: 150px;
    margin-top: -230px;
    transition: all 1s ease-in-out;
    cursor: pointer;
  }

  header p:hover {
    transform: scale(1.3);
  }

  .navbar a {
    font-size: 1.8em;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 7px;
    padding-left: 7px;
    border: 1px solid black;
    background-image: linear-gradient(#ffe266, #fe8654);
    animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    -o-animation: bounce 2.5s infinite;
    border-radius: 5px;
  }

  @-webkit-keyframes bounce {

    0%,
    100% {
      -webkit-transform: translateY(0);
    }

    50% {
      -webkit-transform: translateY(-10px);
    }
  }

  @-moz-keyframes bounce {

    0%,
    100% {
      -moz-transform: translateY(0);
    }

    50% {
      -moz-transform: translateY(-10px);
    }
  }

  @-o-keyframes bounce {

    0%,
    100% {
      -o-transform: translateY(0);
    }

    50% {
      -o-transform: translateY(-10px);
    }
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  .navbar-nav a:hover {
    color: white;
    border: 1px solid white;
  }

  .maintitle {
    width: 100vw;
  }

  main {
    margin-top: 50px;
    grid-template-columns: 31% 31% 31%;
    grid-template-areas:
      "maintitle maintitle maintitle"
      "card1 card2 card3"
      "card4 card5 card6"
      "footer footer footer"
  }

  h4 {
    font-size: 1.5em;
  }


  .cardscene {
    height: 310px;
  }


  .tools {
      margin-bottom: 50px;
  }

  footer {
    margin-top: 20px;
  }

  .copyright {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 1.3em;
  }

  .icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .icons a .linkedin {
    width: 3.2em;
    height: auto;
    padding: .25em;
    border-radius: 50%;
    fill: white;
    background: #007bb6;
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
  }

  .icons a:hover .linkedin {
    fill: #007bb6;
    background: white;
    transform: scale(1.5);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid #007bb6;
  }

  .icons a .github {
    width: 3.2em;
    height: auto;
    padding: .25em;
    border-radius: 50%;
    fill: white;
    background: black;
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
  }

  .icons a:hover .github {
    fill: #0e1a25;
    background: white;
    transform: scale(1.5);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid black;
  }

  .icons a .instagram {
    width: 3.2em;
    height: auto;
    padding: .25em;
    border-radius: 50%;
    fill: white;
    background-image: linear-gradient(#7b19bc, #e5206f, #f03d38, #f27e29, #f9bd4b);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
  }

  .icons a:hover .instagram {
    fill: url(#my-cool-gradient);
    background: white;
    transform: scale(1.5);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid #f03d38;
  }

  .icons a .facebook {
    width: 3.2em;
    height: auto;
    padding: .25em;
    border-radius: 50%;
    fill: #4361a1;
    background: white;
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid #4361a1;
  }

  .icons a:hover .facebook {
    fill: white;
    background: #4361a1;
    transform: scale(1.5);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid white;
  }

  .icons a .twitter {
    width: 3.2em;
    height: auto;
    padding: .25em;
    border-radius: 50%;
    fill: #1A91DA;
    background: white;
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid #1A91DA;
  }

  .icons a:hover .twitter {
    fill: white;
    background: #1A91DA;
    transform: scale(1.5);
    transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
    border: 2px solid white;
  }

  .copyright {
    font-size: 1em;
  }
}

@media screen and (min-width: 1225px) {
  header {
    height: 700px;
  }

  h1 {
    margin-top: 80px;
    margin-left: 0px;
    padding-left: .9em;
  }

  .graphic {
    font-weight: 900;
    font-size: 7em;
  }

  .graphic .letter {
    display: inline-block;
    line-height: 1.3em;
  }

  h2 {
    font-size: 5.3em;
    margin-left: 120px;
  }

  h5 {
    font-size: 1.5em;
  }

  header p {
    font-size: 5em;
    top: 650px;
    left: 500px;
    margin-left: 150px;
    margin-top: -230px;
  }

  main {
    grid-template-columns: 33% 33% 33%;
  }

  .cardscene {
    height: 360px;
  }
}

@media screen and (min-width: 1500px) {
  header {
    height: 50em;
  }

  .graphic {
    font-weight: 900;
    font-size: 10em;
  }

  h2 {
    font-size: 5.6em;
    margin-left: 120px;
  }

  h3 {
    font-size: 2em;
  }

  h5 {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 1.7em;
  }

  header p {
    font-size: 5em;
    top: 700px;
    left: 1000px;
    margin-left: 150px;
    margin-top: -230px;
    transition: all 1s ease-in-out;
  }

  header p:hover {
    transform: scale(1.5);
  }

  .cardscene {
    height: 420px;
  }

  .icons li a:hover .icon {
    transform: rotateY(360deg);
  }

  .copyright {
    font-size: 1.1em;
  }
}
