.overlayCard {
  position: fixed;
  margin: auto;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.overlayCard .close {
  padding-right: 6%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 5px;
}

.modal {
  border: 1px solid black;
  background-image: url('../images/modal_istock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 2em;
  max-width: 300px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.fotoIle {
  width: 180px;
  border: 1px solid black;
  display: block;
  margin: auto auto;
  border-radius: 10%;
  margin-top: 5px;
}

.firstP {
  font-size: .9em;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.lastP {
  margin: 10px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.modalh1 {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  margin: auto;
  font-size: 2.3em;
}

h6 {
  font-size: .9em;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: 'Great Vibes', sans-serif;
}

@media screen and (min-width: 768px) {
  .firstP {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.1em;
  }

  .modal {
    max-width: 380px;
  }

  .lastP {
    font-size: 1.1em;
    margin-right: 30px;
    margin-left: 30px;
  }

  .modal {
    display: inherit;
    border-radius: 10px;
    line-height: 1;
    margin: auto;

    margin-top: 4.5em;
    max-width: 400px;

    top: 13%;
  }
}

@media screen and (min-width: 1024px) {

  .modal {
      display: inherit;
      border-radius: 10px;
      line-height: 1;
      margin: auto;
margin-top: 6em;
      max-width: 480px;

      top: 15%;
    }
}
