* {
  box-sizing: border-box;
}

body {
  font-family: 'Advent Pro', sans-serif;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  background-image: url('../images/ver_istock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
}

header {
  grid-area: header;
  height: 400px;
  margin-bottom: 30px;
}

header p {
  font-size: 2em;
  position: absolute;
  top: 200px;
  left: 90px;
  padding-left: 5px;
  background-image: linear-gradient(to left, purple, blue, green, yellow, red);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  font-size: 2.8em;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 0;
  color: #9AB3E1;
  -webkit-background-clip: text;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  background-image: linear-gradient(#c4e5fc, #6c7dc4);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 10px;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.navbar a {
  font-size: 1.4em;
  color: black;
  font-family: 'Great Vibes', sans-serif;
  text-decoration: none;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 4px;
  padding-left: 4px;
  border-bottom: 2px solid black;
  border: 1px solid black;
  border-radius: 5px;
  background-image: linear-gradient(#c4e5fc, #6c7dc4);
  animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite;
  -moz-animation: bounce 2.5s infinite;
  -o-animation: bounce 2.5s infinite;
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
  }
}

@-moz-keyframes bounce {

  0%,
  100% {
    -moz-transform: translateY(0);
  }

  50% {
    -moz-transform: translateY(-10px);
  }
}

@-o-keyframes bounce {

  0%,
  100% {
    -o-transform: translateY(0);
  }

  50% {
    -o-transform: translateY(-10px);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.nav-item1,
.nav-item2,
.nav-item3,
.nav-item4 {
  display: inline-block;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "maintitle"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
}

.maintitle {
  grid-area: maintitle;
  display: block;
  justify-content: center;
  margin-top: 0px;
  font-size: 1.8em;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.tools {
  list-style: none;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0;
  justify-content: center;
}

.js,
.html,
.css {
  height: 30px;
  margin-right: 5px;
}

.cardscene {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  width: 80%;
  height: 280px;
  position: relative;
  margin: auto;
  margin-bottom: 15px;
}

.cardscene .card-body.flipped {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.cardscene .card-body .card1,
.cardscene .card-body .card2,
.cardscene .card-body .card3,
.cardscene .card-body .card4,
.cardscene .card-body .card5,
.cardscene .card-body .card6 {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;
  /* W3C */
  -webkit-backface-visibility: hidden;
  /* Safari & Chrome */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  -o-backface-visibility: hidden;
  /* Opera */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.cardscene .card-body #card-face-back1b {
  background: white;
  color: black;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body #card-face-front1a {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  color: black;
  border-top: 5px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.cardscene .card-body #card-face-back1b {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: .8em;
}

.cardscene .card-body #card-face-back2b {
  background: white;
  color: black;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body #card-face-front2a {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  color: black;
  border-top: 5px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.cardscene .card-body #card-face-back2b {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: .8em;
}

.cardscene .card-body #card-face-back3b {
  background: white;
  color: black;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body #card-face-front3a {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  color: black;
  border-top: 5px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.cardscene .card-body #card-face-back3b {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: .8em;
}

.cardscene .card-body #card-face-back4b {
  background: white;
  color: black;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body #card-face-front4a {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  color: black;
  border-top: 5px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.cardscene .card-body #card-face-back4b {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: .8em;
}

.cardscene .card-body #card-face-back5b {
  background: white;
  color: black;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body #card-face-front5a {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  color: black;
  border-top: 5px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.cardscene .card-body #card-face-back5b {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: .8em;
}

.cardscene .card-body #card-face-back6b {
  background: white;
  color: black;
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  /* IE 9 */
  -moz-transform: rotatey(-180deg);
  /* Firefox */
  -webkit-transform: rotatey(-180deg);
  /* Safari and Chrome */
  -o-transform: rotatey(-180deg);
  /* Opera */
}

.cardscene .card-body #card-face-front6a {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  color: black;
  border-top: 5px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.cardscene .card-body #card-face-back6b {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: .8em;
}

h4 {
  height: 1.3em;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cardimg {
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
}

h5 a:link {
  color: #f4ce95;
}

h5 a:visited {
  color: #ff929f;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

footer {
  grid-area: footer;
}

.icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.linkedin,
.github,
.instagram,
.facebook,
.twitter {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .9em;
  line-height: 0;
  margin-bottom: 10px;
}
